<h1>Holiday Bullshit 2014</h1>
<h2>The shittiest image submit form</h2>
<form id="whatever">
  <label for="phrase"><input id="phrase" type="text" placeholder="phrase" pattern="[a-zA-Z0-9\S]+" title="Alphanumeric and spaces only" /></label>
</form>
{% if imageID and phrase %}
  <hr />
  <h1>{{ phase }}</h1>
  <h2>Status Code: {{ status }}</h2>
  <img src="https://dopp0jlzdkkkq.cloudfront.net/single/{{ imageID }}.jpg" width="300" />
{% endif %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
$('#whatever').submit(function(e){
  var phrase = $('#phrase').val();
  e.preventDefault();
  window.location = "/phrase/"+phrase;
  return false;
});
</script>



