<h1>Holiday Bullshit 2014</h1>
<h2>The shittiest image submit form</h2>
<hr />
<h1>PUZZLE IS OVER</h1>
<h2><a href="https://docs.google.com/document/d/193s-qZpgEGGILuN2bhodZRVwWCqvLYXSfS5jSyi3ODI/edit#">Go to this link for a write up of all puzzles</a></h2>
<h3>Many thanks to <a href="http://www.reddit.com/r/holidaybullshit/">http://www.reddit.com/r/holidaybullshit/</a> for banding together to solve this thang.</h3>
<hr />
<form id="whatever">
  <label for="phrase"><input id="phrase" type="text" placeholder="phrase" pattern="[a-zA-Z0-9\s_]+" title="Alphanumeric, spaces, and underscores only (no numbers!)" autofocus/></label>
</form>
{% if imageID and phrase %}
  <hr />
  <h1>Phrase: {{ phrase }}</h1>
  <h2>ImageID: {{ imageID }}</h2>
  <h3>Status Code: {{ status }}</h3>
  <h4>This phrase was requested {{ num_requests }} time{% if num_requests != 1 %}s{% endif %} before.</h4>
  <img src="https://dopp0jlzdkkkq.cloudfront.net/single/{{ imageID }}.jpg" width="300" />
  <br />
  <a href="http://www.reddit.com/r/holidaybullshit/search?q={{ phrase }}&restrict_sr=on">Try searching for the phrase on reddit!</a>
{% endif %}

<hr />
<ul>
  <li>This was made with absolutely no love by <a href="https://www.github.com/kratsg/">kratsg</a>.</li>
  <li>The damn github for this shit is on <a href="https://github.com/kratsg/holidaybullshit2014">github:kratsg/holidaybullshit2014</a>.</li>
  <li>See <a href="http://www.reddit.com/r/holidaybullshit/comments/2oewsy/running_list_of_guesses_and_results_of_the_puzzle/">this reddit thread</a> for more information.</li>
  <li>This takes in your phrase, grabs the imageID, and posts both to the following <a href="https://docs.google.com/spreadsheets/d/1AnhJAtUpkH5RuPhGSGaQBBvIU5dLn6R2tufpiNoR1dM/edit?usp=sharing">Google docs</a> spreadsheet.</li>
  <li> The wiki is up <a href="http://www.reddit.com/r/holidaybullshit/wiki/index">here</a>.</li>
</ul>

<hr />
<h3>Open API via restful URLs</h3>
http://holidaybullshit2014.herokuapp.com/
<ul>
  <li> GET phrase/<code>phrase</code> </li>
  <li> GET image/<code>imageID</code> </li>
  <li> GET image/<code>imageID</code>?redirect=true </li>
  <li> GET api/phrase/<code>phrase</code> </li>
</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
$('#whatever').submit(function(e){
  var phrase = $('#phrase').val();
  e.preventDefault();
  window.location = "/phrase/"+phrase;
  return false;
});
</script>



