<h1>Holiday Bullshit 2014</h1>
<h2>The shittiest image submit form</h2>
<form id="whatever">
  <label for="phrase"><input id="phrase" type="text" placeholder="phrase" pattern="[a-zA-Z0-9\s]+" title="Alphanumeric and spaces only" autofocus/></label>
</form>
{% if imageID and phrase %}
  <hr />
  <h1>Phrase: {{ phrase }}</h1>
  <h2>ImageID: {{ imageID }}</h2>
  <h3>Status Code: {{ status }}</h3>
  <img src="https://dopp0jlzdkkkq.cloudfront.net/single/{{ imageID }}.jpg" width="300" />
{% endif %}

<hr />
<ul>
  <li>This was made with absolutely no love by <a href="https://www.github.com/kratsg/">kratsg</a>.</li>
  <li>The damn github for this shit is on <a href="https://github.com/kratsg/holidaybullshit2014">github:kratsg/holidaybullshit2014</a>.</li>
  <li>See <a href="http://www.reddit.com/r/holidaybullshit/comments/2oewsy/running_list_of_guesses_and_results_of_the_puzzle/">this reddit thread</a> for more information.</li>
  <li>This takes in your phrase, grabs the imageID, and posts both to the following <a href="https://docs.google.com/spreadsheets/d/1AnhJAtUpkH5RuPhGSGaQBBvIU5dLn6R2tufpiNoR1dM/edit?usp=sharing">Google docs</a> spreadsheet.</li>
</ul>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
$('#whatever').submit(function(e){
  var phrase = $('#phrase').val();
  e.preventDefault();
  window.location = "/phrase/"+phrase;
  return false;
});
</script>



